html, body {
  overflow-x: hidden;
}
body {
  background-color: #FCF6BD;
  width: 100%;
  height: 100%;
  margin: 0;
}
.main {
  position: absolute;
  width:100%;
  top: 50%;
  transform: translate(0%, -50%);
  text-align: center;
  margin-top:-50px;
}
.banner {
  width: 400px;
  margin-bottom: -100px;
  opacity: 0.5;
  position: relative;
  z-index: -1;
}
.headers {
  font-family: 'Encode Sans', sans-serif;
}
.header1 {
  font-size: 70px;
  font-weight: 600;
  color: #FFCA0A;
}
.header2 {
  margin-top:10px;
  font-size: 40px;
  color: #5AA9E6;
}
.action {
  margin-top: 40px;
}
.action a{
  text-decoration: none;
}
.action img {
  width:80px;
  margin-right:20px;
}
.inpock {
  margin-right:0px;
}
